body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.modal {
    overflow-y:auto;
}

.top {
}

.top-menu-left {
    background-color: #16232f;
    width: 200px;
    color:white;
    border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
    border: 0px solid #000000;
}
.ed-buscar-ubicacion {
    font-size: 10px;
}
.top-menu-center {
    background-color: #16232f;
    width: 430px;
    color:white;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
}
.top-menu-right {
    background-color: #16232f;
    width: 105px;
    color:white;
    border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    border: 0px solid #000000;
}
.icono-opcion-encabezado {
    color:white;    
    padding:6px;
    margin-right: 6px;
    border-radius: 5px;
    margin-top:4px;
}
.texto-opcion-encabezado {
    width:80px;
    font-size: 11px;
}

.panel-izquierda {
    background-color: white;
    box-shadow: 10px 0px 35px 0px rgba(0,0,0,0.75);
}
.titulo-panel-izquierda {
    background-color: #2c3e50; 
    color:white;
    height: 34px;
    font-size: 16px;
    text-align: center;
    padding-top:5px;
}
.opcion-izquierda {
    padding:6px;
    text-align: center;
    font-size: 10px;    
    cursor: pointer;
}
.opcion-izquierda img {
    opacity: 0.6;
}
.opcion-izquierda.activa img {
    opacity: 1;
}
.opcion-izquierda.activa {
    color:rgb(61, 164, 233);
    opacity: 1;
}
.opcion-izquierda div {
     margin-top:6px;
}

.panel-agregar {
    width:250px;
    background-color: rgba(224, 224, 224, 0.9);
    box-shadow: 9px 11px 19px -8px rgba(0,0,0,0.75);
    color:black;
    font-size: 12px;
}
.titulo-agregar {
    background-color: #2c3e50; 
    color:white;
    height: 34px;
    font-size: 16px;
}
.icono-agregar {
    background-color: #1779ba;
    color:white;    
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 5px;
    margin-top:-2px;
}
.agregar-item-container {
    display: flex;
    width: 100%;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}
.agregar-item-active {
    color: #1779ba;
}
.agregar-item-label {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}
.agregar-item-icon {
    width: 16px;
    color: #1779ba;
}
.agregar-item-icon img {
    width: 16px;
}
.agregar-item-icon i {
    width: 16px;
}
.agregar-item-icon-invert {
    filter: invert(1);
}

.tabla-items-capas {
    font-size: 12px;    
    width: 100%
}
.seleccionador-item {
    cursor:pointer;
}
.nombre-item {
    cursor:pointer;
}
.nombre-item:hover {
    text-decoration: underline;
}
.fila-item-capa {
    color: #000000;
}
.fila-item-capa-activo {
    color: blue;
}
.abridor {
    cursor: pointer;
}

.panel-propiedades-fijo {
    border: 1px solid gray;
}
.panel-propiedades-flotante {
    border: 1px solid gray;
    pointer-events: all;
    background-color: white;
    -webkit-box-shadow: 0px 0px 54px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 54px -26px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 54px -26px rgba(0,0,0,0.75);
}
.titulo-panel-propiedades {
    background-color: #8c949c;
    color: white;
    font-size: 11px;
}
.titulo-subpanel-propiedades {
    background-color: #e6edf3;
    color: rgb(32, 32, 32);
    font-size: 11px;
    margin-right: 3px;
}
.contenido-subpanel-propiedades {
    font-size: 80%;
}
.editor-subpanel-propiedades {
    font-size: 80%;
}
.etiqueta-subpanel-propiedades {
    padding-top:4px;
}
.titulo-subpanel-propiedades {
    border: 1px solid gray;
}

.central {
    pointer-events: none;
}

#panelTiempo {    
    border:1px solid gray;
    border-radius: 5px;
    padding:4px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 9px 11px 19px -8px rgba(0,0,0,0.75);
    pointer-events: all;
    cursor: pointer;
    z-index: 6000;
}
#tiempoProgress {
    background-color: gray;
}
#tiempoAvance {
    background-color: white;
    transition: 0.2s ease-out;
}
.dia {
    font-size: 11px;
    line-height: 12px;    
    border-right: 1px solid rgb(26, 25, 25);
    color: white;
    text-shadow: 0 0 2px black;
    text-align: center;
}
#panelTiempoActual {
    border:1px solid gray;
    border-radius: 5px;
    padding:4px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-size: 11px;
    color: white;
    text-shadow: 0 0 2px black;  
    z-index: 6000;  
}

.bootstrap-datetimepicker-widget {
    font-size: 90%;
    pointer-events: all;
    text-shadow: none;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 11000;
}
.iso-label {
    color:black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 13px;
}
.tooltip {
    z-index: 6100;
}
.noUi-touch-area {
    background-color: #1779ba;
}
.noUi-base {
    transform: scale(0.8);
}
.noUi-horizontal {
    height: 12px;
    margin-top: 6px;
}
.noUi-handle {
    margin-top:-3px;
}
.hsplit {
    height:6px;
    background-color: #2c3e50;
    cursor: ns-resize;
    touch-action: none;
    user-select: none;
}
.vsplit {
    width:6px;
    background-color: #2c3e50;
    cursor: ew-resize;
    touch-action: none;
    user-select: none;
}

.panel-agregar-objeto {
    top:50px;
    width:250px;
    left:0;
    background-color: rgba(224, 224, 224, 0.9);
    box-shadow: 9px 11px 19px -8px rgba(0,0,0,0.75);
    color:black;
    font-size: 12px;
}
.titulo-agregar-objeto {
    background-color: #2c3e50; 
    color:white;
    height: 34px;
    font-size: 16px;
}
.contenido-agregar-objeto {
    font-size: 12px;
    min-height: 30px;
    font-style: italic;
    margin:6px;
}